body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

p {
  margin: 0;
}

.bg1 {
  background: linear-gradient(#2E87EC, #BCD3F2);
}

.navbar {
  padding: 1.5rem 1rem;
}

.navbar-brand {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 20px;
}

.navbar-nav {
  font-size: 14px;
  font-weight: 600;  
}

#navbarNav {
  justify-content: flex-end;
}

.nav-item + .nav-item {
  margin-left: 8px;
}

.navbar-collapse.show .nav-item + .nav-item,
.navbar-collapse.collapsing .nav-item + .nav-item {
  margin-left: 0;
}

.bg1 .container {
  padding-top: 125px;
}

.bg1 h1, .bg1 p {
  font-family: "Open Sans", sans-serif;
  color: white;
}

.bg1 h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 82px;  
}

.bg1 p {
  font-size: 20px;
  line-height: 27px;
}

.bg1 h1 + .bg1 p {
  padding-top: 8px;
}

#oval-container {
  position: absolute;
  right: -300px;
  top: -300px;
}

.iphone-1 {
  object-fit: contain;
  transform: translateX(47px);
  z-index: 1;
}

.get-started-now-btn {
  margin-top: 50px;
}

button:focus, button:visited, button:active, button:hover {
  outline: none !important;
  box-shadow: none;
}

.waves-container {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 125%;
  height: 200px;
}

.waves {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.waves-1 {
  left: -150px;
}

.waves-2 {
  left: -100px;
  bottom: -3px;
}

.waves-3 {
  left: -200px;
  bottom: 50px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  color: #383D46;
}

.description {
  font-weight: 400;
  font-size: 16px;
  color: #95979A;
  line-height: 22px;
}

.title + .description {
  padding-top: 11px;
}

.bg2 .container {
  padding-bottom: 130px;
}

.bg2 button {
  margin-top: 31px;
}

.bg2 #app1, .bg2 #app2 {
  position: relative;
}

.bg2 .dotted-circle {
  position: absolute;
  right: 75px;
  top: 100px;
  z-index: -1;
}

.bg2 .app1 {
  position: absolute;
  right: 44px;
  top: -75px;
}

.bg2 .icon-badge {
  margin-bottom: 14px;
}

.bg3 {
  background-color: #509AEE;
}

.bg3 .container {
  padding: 99px 0 168px 0;
  background: url(./images/worldmap.svg) no-repeat center;
  background-size: center;  
}

.bg3 .title {
  font-size: 30px;
  color: white;
  margin-bottom: 95px;
}

.bg3 .item .icon {
  font-size: 48px;
  color: white;
  margin-bottom: 18px;
}

.bg3 .item .title {
  font-size: 14px;
  margin-bottom: 10px;
}

.bg3 .item .description {
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

@keyframes rotating {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 40s linear infinite;
}

@keyframes floatingY {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(13px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes floatingX {
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(13px);
  }
  100%{
    transform: translateX(0px);
  }
}

.floatingY {
  animation: floatingY 6s ease-in-out infinite;
}

.floatingY-2 {
  animation: floatingY 3s ease-in-out infinite;
  animation-delay: 2.5s;
}

.floatingY-3 {
  animation: floatingY 7s ease-in-out infinite;
  animation-delay: 1.25s;
}

.floatingX {
  animation: floatingX 3s ease-in-out infinite;
}

.floatingX-2 {
  animation: floatingX 5s ease-in-out infinite;
  animation-delay: 2.5s;
}

.floatingX-3 {
  animation: floatingX 8s ease-in-out infinite;
  animation-delay: 1.25s;
}

@media (max-width: 991px) {
  .bg1 .iphone-container {
    padding-top: 50px;
  }

  .bg1 .iphone-1 {
    transform: translateX(0);
  }
  
  .waves-1 {
    left: -70px;
  }

  .waves-2 {
    left: -20px;
  }

  .waves-3 {
    left: -120px;
  }

  .bg2 .app-container {
    margin-top: 100px;
    left: -35px;
  }

  .bg3 .container {
    background-size: contain;  
    /* padding: 99px 50px 99px 50px; */
    padding: 70px 50px 70px 50px;
  }

  .bg3 .title {
    margin-bottom: 50px;
  }

  .bg3 .item {
    padding: 30px 0;
  }
}


@media (max-width: 767px) {
  .waves-3 {
    left: -75px;
    bottom: 20px;
  }

  .bg2 .dotted-circle {
    right: 0;
  }

  .bg2 #app2 {
    left: -35px;
  }

  .bg2 .app1 {
    right: -30px;
    top: -75px;
  }
}

@media (max-width: 576px) { 
  .waves-container {
    height: 100px;
  }
}